*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif Arial, Helvetica, sans-serif;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back{
    color: #000;
    background-color: red;
    margin: 30px;
    padding: 10px;
}

.back a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.forward{
    background-color: chocolate;
    margin: 30px;
    padding: 10px;
}

.forward a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
