*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif Arial, Helvetica, sans-serif;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: brown;
    width: 600px;
    height: 300px;
    margin-top: 50px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.right-side{
    width: 750px;
}

.description{
    font-size: 20px;
}



.goal-button{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    background-color: chocolate;
    color: brown;
    border-radius: 15px;
}